/*  Variables  */
:root {
  --black: #050505;
  --text: #9B9B9B;
  --line: #D6D6D6;
  --blue: #007AFF;

  --nav-height: 44px;
  --max-width: 964px;
}

/*  Global styles and styles for devices below 834px  */

body {
  margin: 0 auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--nav-height);

  text-align: center;
  color: var(--text);
}

#nav {
  position: fixed;
  width: 100%;

  background-color: white;
}

#nav__list {
  display: none;
  position: absolute;
  top: var(--nav-height);

  list-style: none;

  width: 100%;
  height: 0;

  margin: 0 auto;
  padding: 24px 12px;

  background-color: white;

  box-sizing: border-box;
  box-shadow: 0 4px 4px var(--line);

  transition: all 0.3s ease-out;
}

#nav__list.opened {
  display: block;
  height: auto;
}

.nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--nav-height);
  margin: 0 8px;
}

.nav__item:not(:last-of-type) {
  border-bottom: 1px solid var(--line);
}

.nav__link, .clock {
  text-decoration: none;
  font-size: 14px;
  color: var(--text);

  transition: background-color 0.1s linear;
}

.nav__link.active { 
  color: var(--black); 

  text-decoration: underline;
  text-decoration-color: var(--black);
  text-underline-offset: 16px;
}

.nav__link:hover:not(.active) {
  color: var(--blue);
}

.line {
  position: relative;
  width: 100%;
}

#line--active {
  display: none;
}

#line--rail {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--line);
}

/*  Styles for screens 834px and up  */
@media only screen and (min-width : 834px) {
  #nav-toggle {
    display: none;
  }

  #nav__list {
    position: initial;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
    max-width: calc(var(--max-width) - 12%);
    height: auto;
    padding: 0 12px 36px 12px;

    box-shadow: none;
  }

  .nav__item {
    display: grid;
    height: auto;
    text-align: center;

    margin: 24px 8px 0px 8px;
  }

  .nav__item:not(:last-of-type){
    border-bottom: none;
  }

  .nav__link.active { 
    text-decoration: none;
  }

  .clock {
    position: relative;
    top: 28px;
  }

  .line {
    bottom: 36px;
  }

  #line--rail {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--max-width);
  }

  #line--active {
    position: absolute;
    display: block;

    transform: translateX(0);

    width: 0px;
    height: 1px;

    background-color: var(--black);

    transition: width 0.1s ease-out,
    transform 0.3s ease-out;
  }
}